/*
 Theme Name:     Specular Child
 Theme URI:      http://codeless.co
 Description:    Specular Child Theme
 Author:         Codeless
 Author URI:     http://www.codeless.co
 Template:       specular
 Version:        1.0.0
*/

@import url("../specular/style.css");

.extra_navigation {
	background: rgba(87, 47, 8, 0.93);
}

@media (max-width: 900px) {
	#logo {
		float: left !important;
		margin-left: 35px !important;
	}
	
	#logo img {
		height: 43px !important;
	}
}


